

.navbar {
    color: #fff;
    background-color: $color-primary-darken;
    display:flex;
    justify-content: space-between;
    padding: 0 convertPxToRem(32);
    .navbar-header {
        margin-left: 0;
    }
    &-list {
        display: flex;
        padding: 0;
        list-style-type: none;

        &-link {
            display: flex;
            align-items: center;
            margin: 0 convertPxToRem(10);
            
            a {
                text-decoration: none;
                background-color: $color-primary-lighten;
                padding: convertPxToRem(10) convertPxToRem(15);
                color: white;
                &:hover {
                    background-color: lighten($color-primary-lighten, $amount: 20);
                }
            }
        }
    }
}